<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">


<dom-module id="thread-list">
	<template>
		<style>
			:host {
				display: block;
			}

			paper-listbox{
				padding: 0px;
			}

			paper-listbox paper-item{
				flex-direction: column;
				align-items: flex-start;
				padding: 10px 25px;
			}

			paper-listbox paper-item.selected{
				flex-direction: column;
				padding: 10px 25px;
				background: none;
				background-color: #eee;
			}
			paper-listbox paper-item::before{
				background: none;
			}
			paper-listbox paper-item:focus{
				background: #eee;
			}

			paper-listbox paper-item h4{
				display: block;
				margin: 0;
				padding: 0px 0px;
			}

			paper-listbox paper-item p{
				display: block;
				margin: 0;
				color: #6a6a6a;
				font-size: 0.85em;
			}
		</style>
		<paper-listbox attr-for-selected="selected">
			<template is="dom-repeat" items="{{threads}}">
				<paper-item class$=[[getClass(item)]] on-click="handleClick">
					<paper-item-title>
						<h4>{{item.label}}</h4>
					</paper-item-title>
					<paper-item-body>
						<p><strong>{{lastMessageSender(item.messages)}}</strong>{{lastMessageText(item.messages)}}</p>
					</paper-item-body>
				</paper-item>
			</template>
		</paper-listbox>

	</template>
	<script>
		Polymer({
			is: 'thread-list',

			properties : {
				threads: {
					type : Array,
					notify : true,
				},
				selectedThread : {
					type : Object,
					notify : true,
				}
			},
			lastMessageText : function (messages) {
				if(!messages || messages.length === 0){
					return "";
				}
				return `${messages[messages.length-1].text}`;
			},
			lastMessageSender : function (messages) {
				if(!messages || messages.length === 0){
					return "";
				}
				return `${messages[messages.length-1].sender} : `;
			},

			getClass : function(thread){
				if(thread === this.selectedThread){
					return "selected";
				}
			},

			handleClick : function (evt) {
				if(this.selectedThread === evt.model.item){
					return;
				}
				this.selectedThread = evt.model.item;

				this.querySelectorAll("paper-listbox paper-item.selected")[0].classList.remove("selected");
				evt.target.classList.add("selected")
			}
		});
	</script>
</dom-module>
